CLAUDE.md
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/stickersglobe/FileContentIndex/25a518cf-80d5-4166-b7a0-63a77e1ca343.vsidx
.vs/stickersglobe/FileContentIndex/45ef7bad-7f56-40e1-8447-e04e2a21a0de.vsidx
.vs/stickersglobe/FileContentIndex/759f67bb-863b-4adf-aedb-7914ec5684b2.vsidx
.vs/stickersglobe/FileContentIndex/f0ee2261-01a4-421e-8df8-bbaa77be0046.vsidx
.vs/stickersglobe/v17/.wsuo
.vs/stickersglobe/v17/DocumentLayout.json
